<%- include('../header'); %>
<!-- <form id="formEditarCliente" method="post" action="/clientes/<%=pessoas[0].codcli%>"> -->
  
<form id="formEditarCliente" method="post" >    
	<table class="styled-table">

		<th>
		<td> </td><td> </td><td> </td>
		</th>
		
		<tr>
			<td class="label">
				Código
			</td>

			<td>
				<input type="text" name="codcli" id="codcli" value="<%=pessoas[0].codcli%>"  readonly>
			</td>
		</tr>
		

		<tr>
			<td class="label">
				Nome:
			</td>

			<td>
				<input type="text"" name="nome" id="nome" value="<%=pessoas[0].nome%>">
			</td>
		</tr>

		<tr>

			<tr>
				<td class="label">
					Endereço:
				</td>
	
				<td>
					<input type="text"" name="endereco" id="endereco" value="<%=pessoas[0].endereco%>">
				</td>
			</tr>
			<tr>
				<td class="label">
					CPF:
				</td>
	
				<td>
					<input type="text"" name="cpf" id="cpf" value="<%=pessoas[0].cpf%>">
				</td>
			</tr>
	
			<tr>
	
			<tr>
			<td class="label">
				Celular:
			</td>

			<td>
				<input type="text" name="cel" id="cel" value="<%=pessoas[0].cel%>">
			</td>

			<td class="label">
				Email:
			</td>

			<td>
				<input type="text" name="email" id="email" value="<%=pessoas[0].email%>">
			</td>
		</tr>



	</table>

<input type="hidden" name="codcli" id="codcli" value="<%=pessoas[0].codcli%>">

<input type="submit" value="Alterar"> 
<input type="button" value="Cancelar" onclick="cancelar();">
</form>

<script>
    $("#formEditarCliente").submit(function (event) {
      event.preventDefault(); // Evita que a página seja recarregada

      const codcli = document.getElementById('codcli').value
	  const nome = document.getElementById('nome').value
	  const endereco = document.getElementById('endereco').value
	  const cel = document.getElementById('cel').value
	  const cpf = document.getElementById('cpf').value
	  const email = document.getElementById('email').value

	  const data = {
        nome,endereco,cel,cpf,email
      };


	const url = '/clientes/'+codcli
	 
    fetch(url, {
      method: 'PUT',
      headers: {
            'Content-Type': 'application/json'
          },
      body: JSON.stringify(data)
    })
        
		.then(response => {
		if (response.ok) {
			console.log('Resource updated successfully');
			window.location.href = '/clientes'
		} else {
			console.error('Failed to update resource');
		}
		})
		.catch(error => {
		console.error('An error occurred:', error);
		});

	})
  
</script>


<%- include('../footer'); %>