<html>
  <head>
    <title>Shopping Cart</title>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" />
    <link rel='stylesheet' href='/src/css/style.css' />
  </head>
  <body>
    <h1><%=title%></h1>
    <input type="tel">
    <div class="row">
        <div class="col-xs-4">
            <div class="pull-left">
            <a href="/"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
            </div>
        </div>

        <div class="col-xs-8">
        <div class="dropdown pull-right">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i> Cart(<span id="cartItemCount">0</span>)
            </a>
            <div class="dropdown-menu">
              <div class="cart">
                <div id="cartItems"></div>
              </div>
            </div>
         </div>
    </div>
    </div>
   <br>
   <input id="codpro" name="codpro" hidden>
    <% for (var i =0;i<=5;i++) { %>
    <div class="thumbnail">
        <div class="caption">
          <h3><%=produto[i].nome%></h3>
          
            <p class="description"><%=produto[i].descricao%><span class="label label-info" ><%=produto[i].precovenda%> cada</span></p>
            <div class="clearfix">
            <div class="price pull-left"><i class="fa fa-tag" aria-hidden="true"></i> <%=produto[i].precovenda%> </div>
              <a href="#" onclick="addCart('<%=produto[i].codpro%>');" class="btn btn-default pull-right" role="button"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add to cart</a>
            </div>
        </div>
      </div>
      <% } %>

  <!--MÉTODO 1 DE EXIBIR OS ITENS ADICIONADOS-->    
  <script> 
    function addCart(codigo) {
      //Atualiza numero itens Cart()
      updateCartItemCount()

      var total = 0

      //CHAMA A ROTA e passa o parametro codpro
      $.post("/shopping_cart/add", {codpro: codigo}, function (resposta) {
       
        if (Array.isArray(resposta)) {
          const cartItemsElement = document.getElementById('cartItems');

          // Limpar o conteúdo atual do itens-menu
          cartItemsElement.innerHTML = '';

          // Iterar sobre cada objeto na 'listaDeObjetos'
          resposta.forEach(itens => {

            const itemDiv = document.createElement('div');
            itemDiv.classList.add('row');

            const nomeDiv = document.createElement('div');
            nomeDiv.classList.add('col-xs-4');
            nomeDiv.innerHTML = itens.nome;

            const divQtd = document.createElement('div');
            divQtd.classList.add('col-xs-4','text-right')


            const qtdSpan = document.createElement('span');
            qtdSpan.classList.add('badge');
            qtdSpan.innerHTML = itens.qtd;

            // Adicionar o <span> à div divQtd
            divQtd.appendChild(qtdSpan);

            const subtotalDiv = document.createElement('div');
            subtotalDiv.classList.add('col-xs-4', 'text-right');
            subtotalDiv.innerHTML = itens.subtotal;

            // Adicionar os elementos criados ao elemento 'cartItemsElement'
            itemDiv.appendChild(nomeDiv);
            itemDiv.append(divQtd)
            itemDiv.appendChild(subtotalDiv);
            

            cartItemsElement.appendChild(itemDiv);

            total = parseFloat(total) + parseFloat(itens.subtotal);
        })
        // Criar um elemento para exibir o total
        const totalElement = document.createElement('div');
        totalElement.classList.add('dropdown-item','text-right','totalPrice');
        totalElement.innerHTML = 'Total: R$ ' + total.toFixed(2);

        const divBtn = document.createElement('div')
        divBtn.classList.add('row','text-right')

        const btnProceed = document.createElement('a');
        btnProceed.classList.add('btn','btn-success');
        btnProceed.innerHTML = 'Proceed'
        btnProceed.setAttribute('href','/');

        divBtn.append(btnProceed)

         // Adicionar o elemento com o total após o loop
        cartItemsElement.appendChild(totalElement);
        cartItemsElement.appendChild(divBtn);

        console.log(total)
          
        } else {
          console.error('Resposta inválida do servidor.');
        }
      })
    }
  </script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="/src/js/shopping_cart.js"></script>
  </body>
</html>



 